

<!-- <mat-card 
    class="movie-item" 
    *ngFor="let movie of movies; let $i = index; let $o = odd; let $e = even;"
    [ngClass]="{'odd-class': $o, 'even-class': $e}"
    >Card #{{$i+1}}, Even: {{$e}}, Odd: {{$o}} 
    // this is going to be replaced with an *ngFor used in the movie-list component
    // we are now reusing MovieItemComponent for every movie
-->

<!-- movie.title, movie.genre etc. => movie is the input, received from movie-list; each movie from the list is being passed in this component -->
    <mat-card class="movie-item">

    <mat-card-header>
        <mat-card-title>
            {{movie.title}} <span class="movie-year"></span>
        </mat-card-title>

        <mat-card-subtitle>
            {{movie.genre}}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div class="details" fxLayout="row">
            <div fxFlex="30">
                <img [src]="movie.poster">
            </div>
            <div fxFlex="70">
                {{movie.plot}}
            </div>
        </div>

        <div>

            <!-- <div [hidden]="commentSaved"> -->
            <!-- Replacing this with conditional rendering -->
            <div *ngIf="!commentSaved; else commentStatic">
                <mat-form-field class="comments">
                    <textarea
                        [(ngModel)]="movie.comment"
                        placeholder="Comment"
                        matInput
                        matTextareaAutosize
                        matAutosizeMinRows="1"
                        matAutosizeMaxRows="4"
                    ></textarea>
                </mat-form-field>
    
                <div class="word-count" [ngStyle]="{color: movie.comment.trim().length === 0 ? 'firebrick' : 'darkgreen'}">
                    {{wordCount(movie.comment)}} words
                </div>
            </div>


            <!-- <div [hidden]="!commentSaved">  -->
            <!-- Replacing this with static template, to be used in conditional rendering -->
            <ng-template #commentStatic>
                <p>
                    Comment:
                </p>
                <p class="comment">
                    {{movie.comment}}
                </p>
            </ng-template>

            <mat-card-actions>
                <button
                    mat-raised-button
                    [disabled]="movie.comment.trim().length === 0"
                    (click)="saveComment(movie.id)"
                    >{{ commentSaved ? 'Edit' : 'Save' }} comment
                </button>
            </mat-card-actions>
        </div>
    </mat-card-content>

</mat-card>

